.listMargin {
  margin: 5px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
  color: white;
}
.page {
  padding: 20px;
}
.page.disabled {
  color: grey;
}
.current {
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid orange;
  font-size: 20px;
  font-weight: 600;
}
#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: orange;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.tag.highlight {
  background-color: red;
}
.no-results {
  color: white;
}
